<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Boolzap</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;400;700&display=swap" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <link rel="stylesheet" href="./css/style.css">
  </head>
  <body>

    <div id="app" class="container">
      <!-- ASIDE -->
      <aside>
        <!-- Header -->
        <div class="header pd-10">
          <div class="header-left">
            <a href="#"><div class="user-top">
              <img src="img/avatar_io.jpg" alt="">
            </div></a>
            <div class="label-left">
              <h3>Nome Utente</h3>
            </div>
          </div>

          <div class="header-right">
            <a href="#"><i class="fas fa-circle-notch"></i></a>
            <a href="#"><i class="fas fa-comment-alt"></i></a>
            <a href="#"><i class="fas fa-ellipsis-v"></i></a>
          </div>
        </div>
          <!-- Alert Notifications -->
          <div class="alert pd-10">
            <div class="header">
              <div class="header-left">
                <div class="user-top">
                  <i class="fas fa-bell-slash"></i>
                </div>
                <div class="label-left">
                  <h4>Ricevi notifiche di nuovi messaggi</h4>
                  <small><a class="grey" href="#">Attiva notifiche desktop</a></small>
                </div>
              </div>
            </div>
          </div>
          <!-- Search -->
          <div class="search">
            <div class="search-tool grey">
              <a href="#">
                <i class="fas fa-search"></i>
              </a>
            </div>
            <input v-model="search" @keyup="searchContact" type="text" placeholder="Cerca o inizia una nuova chat">
          </div>
          <!-- Chat-List -->
          <div class="chat-list">
            <ul>

              <li v-for="(contact,i) in contacts" @click="showChat(i)" :class="{'selected': i===selected}" v-show="contact.visible">
                <a href="#">
                  <div class="header">
                    <div class="header-left">
                      <div class="user-top">
                        <img :src="contact.img" alt="">
                      </div>
                      <div class="label-left">
                        <h4>{{contact.name}}</h4>
                        <p>{{contact.chat[contact.chat.length-1].message}}</p>
                      </div>
                    </div>
                    <div class="prev-time">
                      {{contact.chat[contact.chat.length-1].date}}
                    </div>
                  </div>
                </a>
              </li>

            </ul>
          </div>
      </aside>
      <!-- Main Chat -->
      <main class="main-content">
        <div class="header pd-10">
          <div class="header-left">

            <a href="#">
              <div class="user-top">
                  <img :src="contacts[selected].img" alt="">
              </div>
            </a>

            <div class="label-left">
              <h3>{{contacts[selected].name}}</h3>
              <small class="grey">Ultimo accesso oggi alle {{contacts[selected].chat[contacts[selected].chat.length-1].date}}</small>
            </div>
          </div>

          <div class="header-right">
            <a href="#"><i class="fas fa-search"></i></a>
            <a href="#"><i class="fas fa-paperclip"></i></a>
            <a href="#"><i class="fas fa-ellipsis-v"></i></a>
          </div>
        </div>

        <!-- Content Chat -->
        <div class="content-chat">

          <div v-for="message in contacts[selected].chat" :class="message.status==='out' ? 'sent' : 'received'">

            <div class="message">

              <div class="msg-text">
                {{message.message}}
              </div>

              <div class="msg-time">
                {{message.date}}
              </div>

            </div>

          </div>

          </div>

        <!-- Footer -->
        <div class="footer-chat">
            <a href="#">
              <i class="far fa-smile grey"></i>
            </a>

            <input v-model="newMessage" @keypress.enter="pushMess" type="text" placeholder="Scrivi un messaggio">

            <a href="#">
              <i class="fas fa-microphone grey"></i>
            </a>
        </div>
      </main>
    </div>

  <script type="text/javascript" src="./js/script.js"></script>
  </body>
</html>
